<div class="logos-wrapper">
    <a href="/" class="frameworks"><img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg" class="bottom-logos" alt=""></a>
    <a href="/" class="frameworks"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" class="bottom-logos" alt="Node.JS"></a>
    <a href="/" class="frameworks"><img src="https://www.vectorlogo.zone/logos/expressjs/expressjs-icon.svg" class="bottom-logos" alt="Express"></a>
    <a href="/" class="frameworks"><img src="https://www.vectorlogo.zone/logos/mongodb/mongodb-icon.svg" class="bottom-logos-db" alt="MongoDb"></a>
    <a href="/" class="frameworks"><img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg" alt="JavaScirpt" class="bottom-logos"></a>
    <a href="/" class="frameworks"><img src="https://www.vectorlogo.zone/logos/w3_html5/w3_html5-icon.svg" class="bottom-logos" alt="HTML"></a>
    <a href="/" class="frameworks"><img src="https://www.vectorlogo.zone/logos/w3_css/w3_css-icon.svg" class="bottom-logos" alt="CSS"></a>

</div>


<!-- <a href="/" class="frameworks"><img src="" class="bottom-logos" alt=""></a> -->
